*{box-sizing: border-box;font-size:12px;}
.nav_modification li a:hover{background: white;
							color: black;}
.nav_modification li a{color:#E8E8E4;}

nav{margin-bottom:0px!important;}
.bg-img {background-image:url("../images/bg-image.jpg");
		  height:630px;
		  background-size:cover;
		  background-attachment: fixed;}
.bg_image h1{padding-top:21%;
			color:#E8E8E4;}
.bg_image h2{color:#E8E8E4;}
.bg_image button {padding:10px 21px;}
.about {margin-top:50px;} 
.about h2{margin-bottom:10px} 
.AboutMe {margin-top:20px;}
.AboutMe h4{padding-left: 50px;}
.btn_now{margin-top: 10px;}
.btn_now button{padding:10px 25px;}
.btn_find{padding: 10px 28px;}
.knowledge {background-color:#8BC2F3;}
.mrgtop h2{margin-top:60px!important;}